<IfModule mod_rewrite.c>
RewriteEngine on

#Modul Utama
RewriteRule ^check$ check.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^dashboard$ app.php?route=dashboard [L]
RewriteRule ^obat$ app.php?route=obat [L]
RewriteRule ^obat-add$ app.php?route=obat-add [L]
RewriteRule ^obat-edit-(.*)$ app.php?route=obat-edit&id=$1 [L]
RewriteRule ^obat-simpan$ model/obat/add.php [L]
RewriteRule ^obat-update$ model/obat/update.php [L]
RewriteRule ^obat-delete-(.*)$ model/obat/delete.php?id=$1 [L]
RewriteRule ^distributor$ app.php?route=distributor [L]
RewriteRule ^distributor-add$ app.php?route=distributor-add [L]
RewriteRule ^distributor-edit-(.*)$ app.php?route=distributor-edit&id=$1 [L]
RewriteRule ^distributor-simpan$ model/distributor/add.php [L]
RewriteRule ^distributor-update$ model/distributor/update.php [L]
RewriteRule ^distributor-delete-(.*)$ model/distributor/delete.php?id=$1 [L]
RewriteRule ^principle$ app.php?route=principle [L]
RewriteRule ^principle-add$ app.php?route=principle-add [L]
RewriteRule ^principle-edit-(.*)$ app.php?route=principle-edit&id=$1 [L]
RewriteRule ^principle-simpan$ model/principle/add.php [L]
RewriteRule ^principle-update$ model/principle/update.php [L]
RewriteRule ^principle-delete-(.*)$ model/principle/delete.php?id=$1 [L]
RewriteRule ^satuan-obat$ app.php?route=satuan-obat [L]
RewriteRule ^satuan-obat-add$ app.php?route=satuan-obat-add [L]
RewriteRule ^satuan-obat-edit-(.*)$ app.php?route=satuan-obat-edit&id=$1 [L]
RewriteRule ^satuan-obat-simpan$ model/satuan/add.php [L]
RewriteRule ^satuan-obat-update$ model/satuan/update.php [L]
RewriteRule ^satuan-obat-delete-(.*)$ model/satuan/delete.php?id=$1 [L]
RewriteRule ^transaksi-kasir$ app.php?route=transaksi-kasir [L]
RewriteRule ^list-invoice$ app.php?route=list-invoice [L]

RewriteRule ^kasir-delete-(.*)$ model/transaksi/delete.php?id=$1 [L]
RewriteRule ^transaksi-proses$ model/transaksi/pk.php [L]
RewriteRule ^transaksi-simpan$ model/transaksi/simpan.php [L]
RewriteRule ^transaksiumum$ model/transaksi/umum-header.php [L]
RewriteRule ^kasir-umum$ app.php?route=kasir-umum [L]
RewriteRule ^edit-umum-(.*)$ app.php?route=edit-umum&id=$1 [L]
RewriteRule ^transaksi-proses-edit$ model/transaksi/pk-edit.php [L]
RewriteRule ^umum-regdel-(.*)$ model/transaksi/umum-add-delete.php?id=$1 [L]
RewriteRule ^cetak-(.*)$ controller/transaksi/cetak_umum.php?id=$1 [L]

RewriteRule ^pasien-delete-(.*)$ model/transaksi/pasien-delete.php?id=$1 [L]
RewriteRule ^pasien-add-(.*)$ model/transaksi/pasien-add.php?id=$1 [L]
RewriteRule ^transaksipasien-proses$ model/transaksi/pk-pasien.php [L]
RewriteRule ^transaksipasien-simpan$ model/transaksi/simpan-pasien.php [L]
RewriteRule ^transaksipasien$ model/transaksi/pasien-header.php [L]
RewriteRule ^kasir-pasien$ app.php?route=kasir-pasien [L]
RewriteRule ^edit-pasien-(.*)$ app.php?route=edit-pasien&id=$1 [L]
RewriteRule ^transaksipasien-proses-edit$ model/transaksi/pk-pasien-edit.php [L]
RewriteRule ^pasien-regdel-(.*)$ model/transaksi/pasien-add-delete.php?id=$1 [L]
RewriteRule ^cetak-(.*)$ controller/transaksi/cetak_umum.php?id=$1 [L]

RewriteRule ^register-delete-(.*)$ model/transaksi/register-delete.php?id=$1 [L]
RewriteRule ^register-add-(.*)$ model/transaksi/register-add.php?id=$1 [L]
RewriteRule ^transaksiregister-proses$ model/transaksi/pk-register.php [L]
RewriteRule ^transaksiregister-simpan$ model/transaksi/simpan-register.php [L]
RewriteRule ^transaksiregister$ model/transaksi/simpan-header.php [L]
RewriteRule ^kasir-register$ app.php?route=kasir-register [L]
RewriteRule ^edit-register-(.*)$ app.php?route=edit-register&id=$1 [L]
RewriteRule ^transaksiregister-proses-edit$ model/transaksi/pk-register-edit.php [L]
RewriteRule ^detailregister-(.*)$ app.php?route=detailregister&id=$1 [L]

RewriteRule ^kasir-regdel-(.*)$ model/transaksi/register-add-delete.php?id=$1 [L]
RewriteRule ^kasir-register-payment-(.*)$ app.php?route=kasir-register-payment&id=$1 [L]
RewriteRule ^pay-register$ app.php?route=pay-register [L]
RewriteRule ^cetak-(.*)$ controller/transaksi/cetak_umum.php?id=$1 [L]

RewriteRule ^kasir-eod$ app.php?route=kasir-eod [L]
RewriteRule ^kasir-eod-cari$ app.php?route=kasir-eod-cari [L]

RewriteRule ^news-(.*)-(.*)$ app.php?route=newsdetail&id=$1 [L]
RewriteRule ^newspage-(.*)$ app.php?route=news&newspage=$1 [L]
RewriteRule ^archivenews-januari-(.*)$ app.php?route=newsjanuari&id=$1 [L]
RewriteRule ^archivenews-februari-(.*)$ app.php?route=newsfebruari&id=$1 [L]
RewriteRule ^archivenews-maret-(.*)$ app.php?route=newsmaret&id=$1 [L]
RewriteRule ^archivenews-april-(.*)$ app.php?route=newsapril&id=$1 [L]
RewriteRule ^archivenews-mei-(.*)$ app.php?route=newsmei&id=$1 [L]
RewriteRule ^archivenews-juni-(.*)$ app.php?route=newsjuni&id=$1 [L]
RewriteRule ^archivenews-juli-(.*)$ app.php?route=newsjuli&id=$1 [L]
RewriteRule ^archivenews-agustus-(.*)$ app.php?route=newsagustus&id=$1 [L]
RewriteRule ^archivenews-september-(.*)$ app.php?route=newsseptember&id=$1 [L]
RewriteRule ^archivenews-oktober-(.*)$ app.php?route=newsoktober&id=$1 [L]
RewriteRule ^archivenews-november-(.*)$ app.php?route=newsnovember&id=$1 [L]
RewriteRule ^archivenews-desember-(.*)$ app.php?route=newsdesember&id=$1 [L]
RewriteRule ^agenda-(.*)-(.*)$ app.php?route=agendadetail&id=$1 [L]
RewriteRule ^agenda$ app.php?route=agenda&id=$1 [L]
RewriteRule ^agendapage-(.*)$ app.php?route=agenda&agendapage=$1 [L]
RewriteRule ^archiveagenda-januari-(.*)$ app.php?route=agendajanuari&id=$1 [L]
RewriteRule ^archiveagenda-februari-(.*)$ app.php?route=agendafebruari&id=$1 [L]
RewriteRule ^archiveagenda-maret-(.*)$ app.php?route=agendamaret&id=$1 [L]
RewriteRule ^archiveagenda-april-(.*)$ app.php?route=agendaapril&id=$1 [L]
RewriteRule ^archiveagenda-mei-(.*)$ app.php?route=agendamei&id=$1 [L]
RewriteRule ^archiveagenda-juni-(.*)$ app.php?route=agendajuni&id=$1 [L]
RewriteRule ^archiveagenda-juli-(.*)$ app.php?route=agendajuli&id=$1 [L]
RewriteRule ^archiveagenda-agustus-(.*)$ app.php?route=agendaagustus&id=$1 [L]
RewriteRule ^archiveagenda-september-(.*)$ app.php?route=agendaseptember&id=$1 [L]
RewriteRule ^archiveagenda-oktober-(.*)$ app.php?route=agendaoktober&id=$1 [L]
RewriteRule ^archiveagenda-november-(.*)$ app.php?route=agendanovember&id=$1 [L]
RewriteRule ^archiveagenda-desember-(.*)$ app.php?route=agendadesember&id=$1 [L]
RewriteRule ^kegiatan-(.*)-(.*)$ app.php?route=kegiatandetail&id=$1 [L]
RewriteRule ^kegiatan$ app.php?route=kegiatan&id=$1 [L]
RewriteRule ^kegiatanpage-(.*)$ app.php?route=kegiatan&kegiatanpage=$1 [L]
RewriteRule ^archivekegiatan-januari-(.*)$ app.php?route=kegiatanjanuari&id=$1 [L]
RewriteRule ^archivekegiatan-februari-(.*)$ app.php?route=kegiatanfebruari&id=$1 [L]
RewriteRule ^archivekegiatan-maret-(.*)$ app.php?route=kegiatanmaret&id=$1 [L]
RewriteRule ^archivekegiatan-april-(.*)$ app.php?route=kegiatanapril&id=$1 [L]
RewriteRule ^archivekegiatan-mei-(.*)$ app.php?route=kegiatanmei&id=$1 [L]
RewriteRule ^archivekegiatan-juni-(.*)$ app.php?route=kegiatanjuni&id=$1 [L]
RewriteRule ^archivekegiatan-juli-(.*)$ app.php?route=kegiatanjuli&id=$1 [L]
RewriteRule ^archivekegiatan-agustus-(.*)$ app.php?route=kegiatanagustus&id=$1 [L]
RewriteRule ^archivekegiatan-september-(.*)$ app.php?route=kegiatanseptember&id=$1 [L]
RewriteRule ^archivekegiatan-oktober-(.*)$ app.php?route=kegiatanoktober&id=$1 [L]
RewriteRule ^archivekegiatan-november-(.*)$ app.php?route=kegiatannovember&id=$1 [L]
RewriteRule ^archivekegiatan-desember-(.*)$ app.php?route=kegiatandesember&id=$1 [L]
RewriteRule ^facility$ app.php?route=facility&id=$1 [L]
RewriteRule ^youtube$ app.php?route=youtube [L]
RewriteRule ^instagram$ app.php?route=instagram [L]
RewriteRule ^facebook$ app.php?route=facebook [L]
RewriteRule ^whatsapp$ app.php?route=whatsapp [L]
RewriteRule ^virtual-tour-(.*)$ app.php?route=virtualtour&id=$1 [L]
RewriteRule ^facility-detail-(.*)$ app.php?route=facilitydetail&id=$1 [L]

Options All -Indexes
</IfModule>